* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.quote{
     text-align: center;
     padding: 30px;
     text-transform: capitalize;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0.8rem;
   height: 60px ;
    background-color: rgb(245, 243, 243);
}
.search{
    width: 200px;
}
.search input{
    border-radius: 10px;
    height: 100%;
    width: 200px;     
}
.topic_nav{
    padding: 20px;
    box-shadow: rgb(148, 147, 147) 10px 10px 10px;
}
    
.topic_nav ul {
    display: flex;
    justify-content: space-evenly;
     

}
.topic_nav ul li{
    text-decoration: none;
    list-style: none;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin:  0;

}

.side{
   
     height: 100vh;
     width: 25vw;
     padding: 30px;

}
.main{
    padding: 30px;
    margin: auto;
    max-width: 1200px ;
}

.pop{
    height: 40%;

}
.pdf_container{
    display: flex;
    overflow-x: scroll;

}
.pdf{
    width: 30vh;
    height: 17vh;
  margin: 10px;
    border: 1px solid black;
}
footer{
    background-color: rgb(62, 61, 61);
    color: aliceblue;
    text-align: center;
    height: 10vh;
    padding: 20px;
}

/* pdf view */

main.grid {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-areas: "rt pdfv"
    "nul det"
    "nul cmt";
    row-gap: 1rem;
}

main.grid > div.rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: rt;
}

main.grid > div.pdf-view {
    grid-area: pdfv;
}

main.grid > div.details {
    grid-area: det;
}

main.grid > div.comments {
    grid-area: cmt;
}

/* votes */

@media screen and (max-width: 680px) {
    nav ul {
        display: none;
    }
    .container {
  display: inline-block;
   cursor: pointer;
         }

.bar1, .bar2, .bar3 {
width: 25px;
height: 3px;
background-color: #333;
margin: 4px 0;
transition: 0.4s;
}

.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-4px, 9px);
transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}
body{
overflow-x: hidden;
}

     
 }
